*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: none !important;
}
  
body {
    background: linear-gradient(to bottom right, #0f172a, #581c87, #0f172a) !important;
    min-height: 100vh;
}

nav {
    background: linear-gradient(to bottom right,#581c87, #0f172a,#0f172a ) !important;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    gap: 30px;
    padding: 20px;
}
span.name {
    color: white;
    font-size: 5rem;
    text-align: left;
}
input {
    width: 80%;
    height: 50px;
    padding-left: 20px;
    border-radius: 10px;
    border: 1px solid #581c87;
    outline: none;
    color: white;
    background: #0f172a;
}
button {
    width: 30%;
    height: 30px;
    background: #9ca3af;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #d1d5db;
}
button:hover {
    transform: scale(1.1);
    transition: all .2s;
}
button:active {
    transform: scale(1);
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.loading {
    --speed-of-animation: 0.9s;
    --gap: 6px;
    --first-color: #4c86f9;
    --second-color: #49a84c;
    --third-color: #f6bb02;
    --fourth-color: #f6bb02;
    --fifth-color: #2196f3;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100px;
    gap: 6px;
    height: 100px;
  }
  
  .loading span {
    width: 4px;
    height: 50px;
    background: var(--first-color);
    animation: scale var(--speed-of-animation) ease-in-out infinite;
  }
  
  .loading span:nth-child(2) {
    background: var(--second-color);
    animation-delay: -0.8s;
  }
  
  .loading span:nth-child(3) {
    background: var(--third-color);
    animation-delay: -0.7s;
  }
  
  .loading span:nth-child(4) {
    background: var(--fourth-color);
    animation-delay: -0.6s;
  }
  
  .loading span:nth-child(5) {
    background: var(--fifth-color);
    animation-delay: -0.5s;
  }
  
  @keyframes scale {
    0%, 40%, 100% {
      transform: scaleY(0.05);
    }
    20% {
      transform: scaleY(1);
    }
  }

.errormessage {
  display: none;
  font-size: 1.5rem;
  color: white;
}
.display {
  width: 70%;
  min-height: 80%;
  background: #581c87;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0  10px rgba(0,0,0,0.5);
  display: none;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}
.img {
  width: 100%;
  height: 200%;
}
.about-movie {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  color: #d1d5db;
  text-align: left;
  padding: 30px;
}
span#plot{
  text-align: left;
}


