* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 0 0;
  background: blue;
  color: white;
  gap: 30px;
  overflow-x: hidden;
}
.title {
  font-size: 2rem;
  font-weight: bold;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 60%;
  height: 100vh;
  border-radius: 20px;
  padding: 50px 0 0 0;
  gap: 30px;
}
.input-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
input {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 0 0 0 30px;
}
input:focus {
    outline: none;
}

button {
    width: 75px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
}
button:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}
button:active {
    background-color: gray;
} 
.loading {
    --speed-of-animation: 0.9s;
    --gap: 6px;
    --first-color: #4c86f9;
    --second-color: #49a84c;
    --third-color: #f6bb02;
    --fourth-color: #f6bb02;
    --fifth-color: #2196f3;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100px;
    gap: 6px;
    height: 100px;
   }
   
   .loading span {
    width: 4px;
    height: 50px;
    background: var(--first-color);
    animation: scale var(--speed-of-animation) ease-in-out infinite;
   }
   
   .loading span:nth-child(2) {
    background: var(--second-color);
    animation-delay: -0.8s;
   }
   
   .loading span:nth-child(3) {
    background: var(--third-color);
    animation-delay: -0.7s;
   }
   
   .loading span:nth-child(4) {
    background: var(--fourth-color);
    animation-delay: -0.6s;
   }
   
   .loading span:nth-child(5) {
    background: var(--fifth-color);
    animation-delay: -0.5s;
   }
   
   @keyframes scale {
    0%, 40%, 100% {
     transform: scaleY(0.05);
    }
   
    20% {
     transform: scaleY(1);
    }
   }
.display {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 50px ;
}
img {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.about-movie {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
#errormessage {
    display: none;
    font-size: 2rem;
}
@media screen and (max-width: 480px) {
    .container {
        width: 100%;
        height: 200vh;
    }
    .display {
        flex-direction: column;
    }
    img {
        width: 300px;
        height: 300px;
    }
}

/* @media screen and (max-width: 480px) {
    .container {
        padding: ;
        width: 100%;
        height: auto;
    }
    .display {
        flex-direction: column;
    }
    img {
        width: 300px;
        height: 300px;
    }
} */
